[Unit]
Description=Netfilter (nftables) Firewall Script

[Service]
Type=oneshot
ExecStart=/usr/bin/combust
ExecStop=/usr/bin/combust --flush
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
